html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 1300px;
    min-height: 500px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 17pt;
}

h4 {
    font-size: 12pt;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 10pt;
    border: none;
}

tr {
    margin-left: 7px;
    border-bottom: 1px solid #DDD;
    color: #205081;
}

tr:last-of-type, tr:first-of-type {
    width: 30%;
    border: none;
}

tr td:first-of-type, tr th:first-of-type {
    padding-left: 10px;
}

tr td:last-of-type, tr th:last-of-type {
    padding-right: 10px;
}

tr:first-of-type {
    border-right: 3px;
}

tr:hover, .activity .row:hover {
    background: #F0F0F0;
}

th {
    color: #000;
    border-bottom: 1px solid #DDD;
}

td, th {
    padding: 3px;
}

.main {
    min-height: 100%;
    box-sizing: border-box;
}

.header, .footer {
    width: 100%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 41px;
    background: #205081;
    font-size: 14px;
}

.header .btn-login {
    margin-right: 3px;
    float: right;
}

.container {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.main .container {
}

.content {
    height: 100%;
    font-size: 0;
    padding: 20px 10px 100px;
}

.main-nav {
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background: #205081;
    color: #FFF;
    line-height: 41px;
    text-transform: capitalize;
}

.main-nav ul {
    margin: 0 0 0 -55px;
    list-style-type: none;
}

.main-nav li {
    height: 100%;
    float: left;
}

.main-nav ul li {
    margin-left: 10px;
}

.main-nav li:hover, a:hover {
    background: #3572B0;
    color: #FFF;
}

.main-nav li a:hover {
    color: #FFF;
}

.drop-nav li:hover {
    list-style-type: none;
    color: #FFF;
}

.main-nav a {
    padding: 0 7px;
    display: block;
    color: #FFF;
}

.main-nav .btn, .container .admin-btn, .admin-panel .btn {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    line-height: 31px;
    text-align: center;
}

.main-nav .btn {
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    background: #3572B0;
}

.container .admin-btn, .admin-panel .btn {
    width: 100px;
    height: 30px;
    background: #F0F0F0;
    float: right;
    border: 1px solid #CCC;
}

.container .admin-btn {
    margin-top: 7px;
    margin-right: 25px;
}

.btn a, .admin-btn a, .admin-panel .btn a {
    display: block;
    color: #FFF;
    border-radius: 6px;
}

.admin-btn:hover, .admin-panel .btn:hover {
    background: #DDD;
}

.admin-btn a, .admin-panel .btn a, .admin-panel .btn a:visited {
    color: #000;
}

.dropdown {
    padding-right: 10px;
    position: relative;
}

.dropdown:after {
    content: "\25BC";
    display: block;
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: .7em;
}

.drop-nav {
    display: none;
    position: absolute;
    left: 55px; /*!!!!!!!!!!!*/
    background: #FFF;
    border: 1px solid #CCC;
}

.dropdown:hover .drop-nav {
    display: block;
}

.drop-nav li {
    width: 150px;
    height: 30px;
    margin: 0 0 2px 0;
    line-height: 30px;
    border-top: 1px solid #FFF;
    box-sizing: border-box;
}

.btn-login .drop-nav li {
    width: 30px;
}

.dropdown li a {
    display: block;
}

.drop-nav a {
    margin-left: -50px;
    color: #000;
}

.drop-nav a:hover {
    color: #FFF;
}

.footer {
    height: 70px;
    margin-top: -70px;
    line-height: 69px;
    background: #F5F5F5;
    color: #707070;
    border-top: 1px solid #DDD;
}

.footer .text {
    font-size: 12px;
    text-align: center;
}

.modal, form {
    height: 100%;
    min-height: 200px;
    width: 99%;
    border-radius: 5px;
    border: 1px solid #DDD;
    font-size: 0;
    text-align: center;
}

.modal .header, form .header {
    height: 25px;
    margin-bottom: 2px;
    padding-left: 10px;
    border-radius: 5px 5px 0 0;
    background: #3B73AF;
    color: #FFF;
    font-weight: bold;
    font-size: 11pt;
    line-height: 25px;
    text-align: left;
}

.modal .activity {
    padding: 0 10px;
    font-size: 10pt;
}

.modal .activity .row {
    width: 100%;
    margin: 0;
    padding: 7px 0;
    border-bottom: 1px solid #DDD;
    text-align: justify;
}

.modal .activity .row:nth-of-type(1) {
    border-top: 1px solid #DDD;
}

.modal .activity .row:last-of-type {
    margin-bottom: 10px;
}

.activity .employee {
    padding-right: 3px;
    float: left;
    color: #3B73AF;
    text-transform: capitalize;
    font-weight: bold;
}

.modal .activity .date-and-time {
    width: 65px;
    margin-bottom: 5px;
    padding: 0 2px;
    border-radius: 2px;
    background: #DDD;
    text-align: center;
    font-size: 9pt;
}

.modal .btn {
    width: 97.5%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10pt;
}

.admin-panel .btn {
    margin: 10px;
    width: 94%;
}

.admin-panel .btn {
    font-size: 11pt;
    color: #000;
}

form, .admin-panel {
    width: 330px;
    margin: 12% auto;
}

.admin-panel {
    margin: 11% auto;
}

.register-form {
    margin: 6.9% auto;
}

label {
    margin: 0 10px;
    box-sizing: border-box;
    font-size: 11pt;
    text-align: right;
}

form input, form select, .modal .btn {
    height: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #CCC;
}

form input, form select {
    font-size: 11pt;
}

form input[type="text"], input[type="password"],
form select {
    width: 232px;
    padding: 0 10px;
}

form input[type="submit"] {
    width: 310px;
    margin: 0 10px 15px 10px;
    cursor: pointer;
}

form input[type="submit"]:hover, .modal .btn:hover {
    background-color: #DDD;
}

form .footer {
    width: 300px;
    margin: 30px auto 0;
    border-top: 1px solid #CCC;
    background: #FFF;
    font-size: 11pt;
    text-align: center;
}

form a {
    color: #3572B0;
}

form a:hover,
.container a:hover {
    background: transparent;
    color: #000;
}

.error {
    margin: 10px 10px 10px;
    color: crimson;
    font-size: 11pt;
    text-align: left;
}

.container .main-nav .btn a:hover {
    color: #FFF;
}

.column, .container .grid-col {
    display: inline-block;
    vertical-align: top;
}

.column {
    width: 100%;
    padding-bottom: 0;
}

.row {
    margin: 20px 10px 20px 0;
    text-align: right;
}

form .error {
    margin-left: 12px;
    text-align: left;
    word-wrap: break-word;
}

.activity .row:first-of-type {
    margin-top: 7px;
}

.container .grid-col {
    width: 49.5%;
    font-size: 11pt;
}

.container .grid-col:last-of-type {
    margin-left: 1%;
}